@charset "UTF-8";

.card-div{
  height: 200px;
  background: #FAFAFA;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.card-div img {
  width: 75%;
}
