@charset "utf-8";

header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.title {
  margin: 0;
  grid-row: 1 / 2;
}

.second-title {
  grid-row: 2 / 3;
  margin-top: 10px;
}

header p {
  font-size: 1.1rem;
  justify-self: right;
}
